<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bookworm</title>
</head>
<body>
    <h1>Welcome to Bookworm</h1>
    <p>Discover, rate, and discuss your favorite books!</p>
    {% include 'menu.twig' %}

</body>
</html>
