{% extends "base.twig" %}
{% block title %}Home{% endblock %}

{% block content %}
{% include 'menu.twig' %}
<div class="centered-container">
    <h1>Welcome to Bookworm</h1>
    <p>Discover, rate, and discuss your favorite books!</p>
</div>
{% endblock %}
