{% extends "base.twig" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="centered-container">
    {% include 'menu.twig' %}
    <h1>Welcome to Bookworm</h1>
    <p>Discover, rate, and discuss your favorite books!</p>
</div>
{% endblock %}
