<nav class="navbar">
    <ul class="menu-list">
        <li><a href="/"><b>Bookworm</b></a></li>
  
        {% if isLoggedIn %}
            <li>
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/catalogue">Book Catalogue</a></li>
            <li><a href="/forums">Forums</a></li>
        {% else %}
            <li><a href="/sign-in">Sign In</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
        {% endif %}
    </ul>
</nav>