<nav class="navbar">
    <ul class="menu-list">
        <li><a class="logo menuit" href="/"><b>ğ“‘ğ“ğ“ğ“šğ“¦ğ“ğ“¡ğ“œ</b></a></li>

        {% if isLoggedIn %}
            <li>
                <form class="menuit" action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li><a class="menuit" href="/profile">Profile</a></li>
            <li><a class="menuit" href="/catalogue">Book Catalogue</a></li>
            <li><a class="menuit" href="/forums">Forums</a></li>
        {% else %}
            <li><a class="menuit" href="/sign-in">Sign In</a></li>
            <li><a class="menuit" href="/sign-up">Sign Up</a></li>
        {% endif %}
    </ul>
</nav>