        /* Reset default browser styles */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        /* Body styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            color: #333;
            line-height: 1.6;
            padding: 20px;
        }

        ul {
            list-style-type: none;
        }

        /* Centered container */
        .centered-container {
            max-width: 800px;
            margin: 0 auto;
        }

        /* Header styles */
        h1 {
            margin-bottom: 20px;
            text-align: center;
        }

        /* Forum list styles */
        .forum-details {
            text-align: center;
        }

        .post-list ul {
            list-style-type: none;
            padding: 0;
        }

        .post-list li {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            padding: 20px;
            margin-bottom: 10px;
        }

        .post-list li p {
            margin: 0;
        }


        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        /*forum_post css*/
        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea {
            width: calc(100% - 22px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .logo {
            font-size: 22px !important;
        }


        form.menuit {
            margin-bottom: 20px;
        }

        button[type="submit"],
        input[type="submit"] {
            text-align: left;
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            width: 200px;
            transition: color 0.3s ease;
        }

        button[type="submit"]:hover,
        input[type="submit"]:hover  {
            background-color: #45a049;
        }

        a.menuit {
            text-decoration: none;
            display: block;
            transition: color 0.3s ease;
            background-color: #4CAF50;
            color: white !important;
            padding: 10px 20px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            width: 200px;
        }

        a.menuit:hover,
        a.menuit:focus {
            text-decoration: underline;
            background-color: #45a049;
        }

        a:visited {
            color: #555;
        }

        
        /* Form styles */
        form.form {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            padding: 20px;
            margin-top: 20px;
        }

        a {
            color: #333;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        a:hover,
        a:focus {
            color: #444;
            text-decoration: underline;
        }


        /*koniec bazy z forum-post.twig*/
